.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background: $theme_titlebar_background;
  padding: 0 15px;
  line-height: 30px;
  box-sizing: border-box;
  z-index: 999;
  transition: cubic-bezier(0, 0.35, 0.57, 0.85) 0.3s;

  &.float {
    --float: 7px;
    margin: var(--float);
    width: calc(100% - var(--float) * 2);
    border-radius: 5px;
    opacity: 0.95;
  }

  > div {
    line-height: 30px;
  }
}

.app-launcher {
  height: 100%;
  width: 40px;
  position: relative;
  padding: 0 4px;
  cursor: pointer;
  @extend .icon-wrapper;

  .icon-app-launcher {
    width: 30px;
    height: 30px;
    background: url(/public/icons/places/start-here-kde.svg) no-repeat center;
  }
}

.icon-wrapper {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

.window-icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.task-manager {
  -webkit-user-drag: none;
  position: relative;
  list-style-type: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  flex-wrap: nowrap;

  .bar {
    border-top: 3px solid rgba($colors-view-foreground-inactive, 0.6);
    box-sizing: border-box;

    span {
      margin-top: -3px;
    }
    &:hover {
      border-color: rgba($colors-view-foreground-active, 0.6);
      background: rgba($colors-view-foreground-active, 0.25);
    }
  }
  .bar-active {
    @extend .bar;
    border-color: rgba($colors-view-foreground-active, 0.6);
  }

  li {
    position: absolute;
    left: calc(var(--x) * calc(52px + 2px));
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;

    &.active {
      background: rgba($colors-view-foreground-active, 0.25);
      @extend .bar-active;
    }

    &.inactive {
      background: rgba($colors-view-foreground-inactive, 0.25);
      @extend .bar;
    }

    &:hover {
      img {
        filter: brightness(1.15) contrast(1.1);
        transition: filter 0.15s;
      }
    }
  }
}

.digital-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: default;
  user-select: none;

  > span:first-child {
    margin-top: -4px;
    line-height: 20px;
    font-size: 12pt;
  }

  > span {
    font-size: 12px;
    line-height: 10px;
  }
}

.digital-clock-tooltip {
  display: flex;
  flex-direction: column;

  > span:first-child {
    @extend .heading;
    line-height: 20px;
  }

  > span {
    font-size: 14px;
    line-height: 18px;
  }
}

.title {
  font-weight: 700;
  font-size: 13pt;
}

.title-1 {
    font-weight: 800;
    font-size: 20pt;
}

.title-2 {
    font-weight: 800;
    font-size: 15pt;
}

.title-3 {
    font-weight: 700;
    font-size: 15pt;
}

.title-4 {
    font-weight: 700;
    font-size: 13pt;
}

.heading {
  font-weight: 700;
  font-size: 10pt;
}
