.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background: $theme_bg_color;
  padding: 0 15px;
  line-height: 30px;
  box-sizing: border-box;
  z-index: 999;

  > div {
    line-height: 30px;
  }
}

.window {
  background: #eff0f1;
  position: absolute;
}

.app-launcher {
  height: 100%;
  width: 40px;
  position: relative;
  padding: 0 4px;
  cursor: pointer;
  @extend .icon-wrapper;

  .icon-app-launcher {
    width: 30px;
    height: 30px;
    background: url(/public/icons/places/start-here-kde.svg) no-repeat center;
  }
}

.icon-wrapper {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

.window-icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.task-manager {
  list-style-type: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  user-select: none;

  li {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;

    &.active {
      border-top: 3px solid #9D9DA3;
      background: #bfbfc5;
      box-sizing: border-box;

      img {
        margin-top: -3px;
      }
    }
  }
}

.digital-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #232629;
  background: #edeeef;
  box-sizing: border-box;
  cursor: default;
  user-select: none;

  > span:first-child {
    line-height: 20px;
    font-size: 12pt;
    opacity: 1;
  }

  > span {
    font-size: 12px;
    line-height: 10px;
    opacity: 0.8;
  }
}

.digital-clock-tooltip {
  display: flex;
  flex-direction: column;

  > span:first-child {
    @extend .heading;
    line-height: 20px;
    opacity: 1;
  }

  > span {
    font-size: 14px;
    line-height: 18px;
    opacity: 0.6;
  }
}

.system-control {
  .headerbar {
    button {
      cursor: pointer;
    }
    .home {
      background: url(/public/icons/actions/go-home.svg) no-repeat center;
      background-size: 22px;
    }
    .search {
      position: relative;
      display: flex;
      align-items: center;

      .icon-search {
        position: absolute;
        left: 8px;

        background: url('/public/icons/actions/system-search.svg') no-repeat center;
        background-size: 16px;
        width: 18px;
        height: 18px;
      }

      input {
        height: 32px;
        width: 190px;
        padding-left: 28px;
        border: $borders 1px solid;
        border-radius: 1.25mm;
        box-sizing: border-box;
        &:focus {
          outline: none;
          border-color: $theme_selected_bg_color;
        }
      }
    }

    .actions {
      background: url(/public/icons/actions/application-menu.svg) no-repeat center;
      background-size: 22px;
    }

    .divider {
      width: 1px;
      height: auto;
      background: $theme_titlebar_foreground;
      opacity: 0.2;
      margin: 3px 9px;
    }
    .title {
      margin-left: 10px;
      font-weight: 500;
    }
  }
}

.sidebar {
  background: $colors-view-background-normal;
  color: $colors-view-foreground-normal;
  width: var(--width);
  height: 100%;
  border-right: 1px $borders solid;
  padding: 7px;
  letter-spacing: 0.7px;
  user-select: none;
  overflow-y: auto;
  box-sizing: border-box;

  >* {
    border: none;
  }

  .name {
    margin: {
      top: 9px;
      bottom: 8px;
    }
    display: flex;
    width: 100%;
    text-wrap: nowrap;
    opacity: 0.75;
    font-weight: bold;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      margin-left: 8px;
      background: $colors-view-foreground-normal;
      opacity: 0.45;
      margin-top: 10px;
    }
  }
  .item {
    background-color: $colors-view-background-normal;
    margin: 2px 0;
    padding: 4px 4px;
    display: flex;
    flex-direction: row;

    span:has(.icon) {
      padding-left: 20px;
    }
    .icon {
      width: 22px;
      height: 22px;
      margin-right: 9px;
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      background-image: var(--icon);
    }
    &.link {
      &:after {
        content: "";
        width: 22px;
        height: 22px;
        background: url('/public/icons/actions/go-next.svg') no-repeat center;
        background-size: 18px;
        margin-left: auto;
      }
    }
  }
}

.title {
  font-weight: 700;
  font-size: 13pt;
}

.title-1 {
    font-weight: 800;
    font-size: 20pt;
}

.title-2 {
    font-weight: 800;
    font-size: 15pt;
}

.title-3 {
    font-weight: 700;
    font-size: 15pt;
}

.title-4 {
    font-weight: 700;
    font-size: 13pt;
}

.heading {
  font-weight: 700;
  font-size: 10pt;
}
