
.sidebar {
  background: $colors-view-background-normal;
  color: $colors-view-foreground-normal;
  width: var(--width);
  height: 100%;
  border-right: 1px $borders solid;
  padding: 7px;
  letter-spacing: 0.14px;
  overflow-y: auto;
  box-sizing: border-box;

  > * {
    border: none;
  }

  .name {
    margin: {
      top: 9px;
      bottom: 8px;
    }
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    text-wrap: nowrap;
    opacity: 0.75;
    font-weight: bold;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      margin: {
        left: 8px;
        top: auto;
        bottom: auto;
      }
      background: $colors-view-foreground-normal;
      opacity: 0.45;
    }
  }

  .item {
    background-color: $colors-view-background-normal;
    margin: 2px 0;
    padding: 4px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;

    span:has(.icon) {
      padding-left: 20px;
    }

    .icon {
      width: 22px;
      height: 22px;
      margin-right: 9px;
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      background-image: var(--icon);
    }

    &.link {
      &:after {
        content: "";
        width: 22px;
        height: 22px;
        background: url('/public/icons/actions/go-next.svg') no-repeat center;
        background-size: 18px;
        margin-left: auto;
      }
    }
  }
}