.window, dialog {
  @mixin button-no-decoration {
    border: {
      color: transparent;
      image: unset;
      radius: 0;
    }
    box-shadow: none;
  }

  position: absolute;
  background: $colors-window-background-normal;
  border: {
    radius: 6px 6px 0 0;
    width: 0;
  }
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5), 0 2px 8px rgba(0, 0, 0, 0.3);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .titlebar {
    user-select: none;
    padding: 0 4px;
    border: {
      width: 0 0 1px 0;
      radius: 6px 6px 0 0; // todo
      color: $borders;
      top: 1px solid $theme_titlebar_background;
    };
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $theme_titlebar_foreground;
    background: $theme_titlebar_background;

    label {
      font-weight: normal;
    }

    .windowcontrols {
      min-width: calc(18px * 3);
      display: flex;
      flex-direction: row;

      button {
        min-height: 18px;
        min-width: 18px;
        margin: 4px 3px;

        &.window-icon, &.pin,
        &.close, &.close:hover, &.close:active,
        &.maximize, &.maximize:hover, &.maximize:active,
        &.minimize, &.minimize:hover, &.minimize:active {
          @include button-no-decoration;
        }
      }

      @mixin recolor-icon($icon, $color) {
        mask: $icon no-repeat center;
        background: $color 16px;
      }
      @mixin icon($icon) {
        background: $icon no-repeat center;
        background-size: 16px;
        border-radius: 0;
        mask: none;
      }

      button.window-icon {
        background: var(--window-icon) no-repeat center;
        background-size: 22px;
        margin-right: 3px;
      }

      button.pin {
        @include icon(url(/public/icons/actions/window-pin.svg));
      }

      button.close {
        @include recolor-icon(url(/public/icons/actions/breeze-close-symbolic.svg), $theme_titlebar_foreground);

        &:hover {
          @include icon(url(/public/icons/actions/breeze-close-hover-symbolic.svg));
        }

        &:active {
          @include icon(url(/public/icons/actions/breeze-close-active-symbolic.svg));
        }
      }

      button.maximize {
        @include recolor-icon(url(/public/icons/actions/breeze-maximize-symbolic.svg), $theme_titlebar_foreground);

        &:hover {
          @include recolor-icon(url(/public/icons/actions/breeze-maximize-hover-symbolic.svg), $theme_titlebar_foreground);
        }

        &:active {
          @include recolor-icon(url(/public/icons/actions/breeze-maximize-active-symbolic.svg), $theme_titlebar_foreground);
        }
      }

      button.minimize {
        @include recolor-icon(url(/public/icons/actions/breeze-minimize-symbolic.svg), $theme_titlebar_foreground);

        &:hover {
          @include recolor-icon(url(/public/icons/actions/breeze-minimize-hover-symbolic.svg), $theme_titlebar_foreground);
        }

        &:active {
          @include recolor-icon(url(/public/icons/actions/breeze-minimize-active-symbolic.svg), $theme_titlebar_foreground);
        }
      }
    }
  }

  .headerbar {
    background-color: $theme_titlebar_background;
    color: $theme_titlebar_foreground;
    display: flex;
    flex-direction: row;
    user-select: none;
    padding: 4px 10px;
    border: {
      width: 0 0 1px 0;
      radius: 6px 6px 0 0;
      color: $borders;
      top: 1px solid $theme_titlebar_background;
    };

    button {
      @include button-no-decoration;
    }

    > * {
      margin: 0.5px 5.5px;
    }
  }

  > .content {
    height: calc(100% - 46px);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}