
.tooltip {
  position: absolute;
  bottom: 100%;
  box-sizing: border-box;
  color: $tooltip_text;
  padding: 10px;
  border-radius: 1.25mm;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid $tooltip_border;
  background: {
    color: rgba($tooltip_background, 0.93);
    clip: padding-box;
  }
  z-index: 998;
  flex-direction: column;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out 0.3s, 0.3s;

  &.visible {
    transition-delay: 1s;
    visibility: visible;
    opacity: 1;
  }
}

button {
  border: 1px solid;
  border-radius: 1.25mm;
  padding: 6px;
  background-clip: border-box;
  background: linear-gradient(180deg,
          mix($theme_button_background_normal, white, 0.03125) 0%,
          $theme_button_background_normal 50%,
          mix($theme_button_background_normal, black, 0.03125) 100%
  );

  .selected {
    box-shadow: none;
    background: $theme_button_background_normal;
  }

  :checked {
    background: rgba($theme_button_background_normal, calc(1 / 8));
    box-shadow: none;
  }

  :hover {
    border-color: $theme_button_decoration_hover;

    :not(:checked):not(:active) {
      background: $theme_button_background_normal;
    }
  }

  :focus {
    border-color: $theme_button_decoration_hover;
  }

  :active {
    background: rgba($theme_button_background_normal, calc(1 / 3));
  }

  :disabled {
    box-shadow: none;
    border-color: $theme_button_foreground_insensitive;
    background: $theme_button_background_insensitive;
    color: $theme_button_foreground_insensitive;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;

  .icon-search {
    position: absolute;
    left: 8px;

    background: url('/public/icons/actions/system-search.svg') no-repeat center;
    background-size: 16px;
    width: 18px;
    height: 18px;
  }

  input {
    height: 32px;
    padding-left: 28px;
    border: $borders 1px solid;
    border-radius: 1.25mm;
    box-sizing: border-box;
    &:focus {
      outline: none;
      border-color: $theme_selected_bg_color;
    }
  }
}