@font-face {
    font-display: swap;
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/noto-sans-sc-v37-chinese-simplified_latin_latin-ext-regular.woff2') format('woff2');
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #141517;
    overflow: auto;
    display: flex;
    flex-direction: row;
    font-family: Noto Sans SC, sans-serif;
    font-size: 10pt;
}

#root {
    padding: 2rem;
    margin: auto;
}